@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

html{
    font-family: 'Quicksand', sans-serif;
}

.environment-container{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    /* background-color: red; */
}

.logo-header{
    height: 100px;
    width: 100%;
    display: grid;
    align-items: center;
    border-bottom: 3px solid rgba(224,224,224,255);

}
.logo-container{
    height: 70px;
    width: 200px;
    margin-left: 10px;
    overflow: hidden;

    /* background-color: blue; */
}
#logo-img{
    width: inherit;
    margin-top: 3px;
}


.card-container{
    height: 300px;
    width: 100%;
    display: grid;
    justify-items: center;

    /* background-color: blueviolet; */
}
.card{
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid rgba(224,224,224,255);
    border-radius: 20px;
    padding: 30px;

    /* background-color: pink; */
}
.titles{
    text-align: center;
    /* background-color: aqua; */
}
.titles > * {
    margin: 0px;
}

.information ul> *{
    margin-top: 14px;
}
.information ul> * > *{
    color: black;
}

.location{
    text-align: right;
}
.location a{
    color: black;
    text-decoration: none;
}


.footer-container{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    /* background-color: gray; */
}
.share-container{
    height: 100px;
    width: 100px;
    margin-right: 10px;

    /* background-color: aqua; */
}
.share-container .button-container p{
    font-size: 13px;
    margin: 0px;
    padding: 2px;
    text-align: center;
}
.button-container{
    height: 100px;
    width: 80px;
    width: inherit;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: rgba(255,230,0,255);
}
#copy-button{
    /* width: 100px; */
    font-size: 35px;
}